<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding: 0px;
        }
        .header {
            height: 60px;
            background: black;
        }
    </style>
</head>
<body>
    <div  >
        <div class="header row d-flex justify-content-center align-items-center">
            <div class="pic d-flex  align-items-center justify-content-center col-md-2 ">
                <img src="http://devfast.us/images/devfast-logo.png" width="40px;" />
            </div>
            <div class="text-center col-md-10">
                <h3 style="color:white">blogs management</h3>
            </div>
        </div>

       

    </div>

    <div class="row">
        <div class="menu col-md-3">
            <ul>
                <li >
                    @Html.ActionLink("Product", "Index", "Products")
                    <ul class="menu2">
                        <li>
                            <a id="home" href="/Products/index"><img src="https://hoclaptrinh.asia/wp-content/uploads/2020/04/menu-icon-la-gi-1.jpg" style=" width:20px; height:20px; margin-right:10px;" />list</a>
                        </li>
                        <li>
                            <a id="Create" href="/Products/Create"><img src="https://www.nicepng.com/png/detail/202-2022683_edit-svg-png-icon-free-download-create-icon.png" style="width: 20px; height: 20px; margin-right: 10px;" />New</a>
                        </li>
                        <li>
                            <a id="Search" href="/Products/Search"><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Search_Icon.png" style="width: 20px; height: 20px; margin-right: 10px;" />Search</a>
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Category", "Index", "Categories")
                    <ul class="menu3">
                        <li>
                            <a id="home" href="/Categories/index"><img src="https://hoclaptrinh.asia/wp-content/uploads/2020/04/menu-icon-la-gi-1.jpg" style=" width:20px; height:20px; margin-right:10px;" />list</a>
                        </li>
                        <li>
                            <a id="Create" href="/Categories/Create"><img src="https://www.nicepng.com/png/detail/202-2022683_edit-svg-png-icon-free-download-create-icon.png" style="width: 20px; height: 20px; margin-right: 10px;" />New</a>
                        </li>
                        <li>
                            <a id="Search" href="/Categories/Search"><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Search_Icon.png" style="width: 20px; height: 20px; margin-right: 10px;" />Search</a>
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("User", "Index", "UserProducts")
                    <ul class="menu4">
                        <li>
                            <a id="home" href="/UserProducts/index"><img src="https://hoclaptrinh.asia/wp-content/uploads/2020/04/menu-icon-la-gi-1.jpg" style=" width:20px; height:20px; margin-right:10px;" />list</a>
                        </li>
                        <li>
                            <a id="Create" href="/UserProducts/Create"><img src="https://www.nicepng.com/png/detail/202-2022683_edit-svg-png-icon-free-download-create-icon.png" style="width: 20px; height: 20px; margin-right: 10px;" />New</a>
                        </li>
                        <li>
                            <a id="Search" href="/UserProducts/Search"><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Search_Icon.png" style="width: 20px; height: 20px; margin-right: 10px;" />Search</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
      
    </div>
    <div class="row">
        <div class="text-center d-flex justify-content-center align-items-center" style="background: #808080; width:100%;height:50px;">
            <span>Copyright @@ 2021</span><span style="color:blue;">Devfast</span>
        </div>
    </div>
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
