@model IEnumerable<WebSiteBanHang.Models.UserProduct>

<div class="row">
        <div class="card">
            <div class="card-header">
                <h3>User</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("review")
                        </th>
                        <th>
                            @Html.DisplayName("name")
                        </th>
                        <th>
                            @Html.DisplayName("email")
                        </th>
                        <th>
                            @Html.Label("Edit")
                        </th>
                        <th>
                            @Html.Label("Delete")
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.reviewUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nameUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emailUser)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.idUser }, new { @class = "btn btn-outline-primary" })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete2", new { id = item.idUser }, new { @OnClick = "remove()", @class = "btn btn-outline-danger " })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
</div>
<script>
    function remove() {
        var isConfirm = confirm('Are sure wants to delete?');
        if (isConfirm == true) {
            return true;
        }
        else {
            event.preventDefault();
        }
        return false;

    }
</script>
